.containerr {
  display: flex; 
  justify-content: space-between; 
  flex-wrap: nowrap;
  gap: 20px; 
  padding: 50px; 
  background-color:thistle ;
  border-radius: 20px;
}

.containerr > div {
  text-align: center;
  flex-basis: 30%;
}

.containerr img {
  width: 50%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.containerr h2 {
  font-size: 1.2em; 
  margin: 10px 0;
}

h1 {
  text-align: center;
}
